
body {
	background-color: blue;
}

h1 {
	background-color:yellow;
}

article {
    color:yellow;
    font-size: 30px;
    font-family: cursive;
}
 #mainpoint{
	background-color:black;
}

#qwer,.big,.highlight{
	color:red;
	font-size: 
}

h2 {
    font-style: italic;
    background-color: yellow;
}
ul{
	color:#ffffff;
   font-size:30px;
   
}